{% extends "./baseGestionRegistro.html" %}

{% block title%} Gestion de registros de población fallecida {% endblock %}



{%block h2%}
<h2 class="text-center"> Población Fallecida </h2>
{%endblock%}

{%block form%}
<form action="/registrarPoblacionFallecida/" method="POST">{%csrf_token%}
  <div class="mb-3 py-1">
    <label for="exampleFormControlInput1" id="labelId" class="form-label d-none">Codigo</label>
    <input type="text" class="form-control d-none" disable value="{{idregistro.idregistro}}" id="txtIdRegistro"
      name="txtIdRegistro" required readonly>
  </div>
  <div class="mb-3">
    <!--PARA SELECCIONAR EL TIPO DE UNIVERSIDAD-->
    <label for="exampleFormControlInput1" class="form-label"> Tipo de universidad </label>
    <select class="form-select" aria-label="Default select example" id="selectUniversidad" required
      name="selectUniversidad">
      <option value="{{idregistro.tipoU}}" selected readonly placeholder="Seleccione el tipo...">{{idregistro.tipoU}}
      </option>
      <option value="Pública">Pública</option>
      <option value="Privada">Privada</option>
    </select>
  </div>
  <div class="mb-3">
    <!--ENTRADA DE CANTIDAD-->
    <label for="inputCantidad" class="form-label"> Cantidad</label>
    <input type="number" id="txtcantidad" class="form-control" required value="{{idregistro.cantidad}}" min="0"
      aria-labelledby="AnyodHelpBlock" name="txtcantidad">
    <div id="CantidadHelpBlock" class="form-text">
      La cantidad debe de ser positiva
    </div>

  </div>

  <div class="mb-3">
    <!--ENTRADA DE AÑO-->
    <label for="inputAnyo" class="form-label"> Año</label>
    <input type="number" id="txtano" class="form-control" value="{{idregistro.ano}}" min="2020"
      aria-labelledby="AnyodHelpBlock" required name="txtano">
    <div id="AnyoHelpBlock" class="form-text">
      El rango de años estan entre 2020 - 2023
    </div>
  </div>

  
  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-success btn-block text-white"> Guardar</button>
  </div>

</form>

{%endblock%}

{%block tbody%}
{% for reg in fallecidos%}
<tr>
  <td class="col-2">{{reg.tipoU}}</td>
  <td class="col-8">{{reg.cantidad}}</td>
  <td class="col-16">{{reg.ano}}</td>
  <td class="text-center col-1"><a href="/gestionFallecidos/{{reg.idregistro}} " id="btnEditar"
      class="btn btn-info text-white"> Editar</a></td>
  <td class="text-center col-1"><a href="/EliminarPoblacionFallecida/{{reg.idregistro}}" class="btn btn-danger">
      Eliminar</a></td>
</tr>
{%endfor%}
{%endblock%}