<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link rel="stylesheet" href="{% static 'css/estiloHome.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body class="bg-gradient bg-primary bg-opacity-50">
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-dark min-vh-100 navbar navbar-expand-lg fixed-top">
                <!-- Contenido del menú lateral -->
                <div class="bg-dark py-5">
                    <a class="nav-link py- text-white">
                        <span class="fs-3 ms-1 d-none  d-sm-inline icon-link-hover">Causas</span>
                    </a>
                    <ul class="nav nav-pills flex-column mt-2">
                        <li class="nav-item py-2 py-sm-0">
                            <a class="nav-link text-white" href="/efectosTecnologicos/">
                                <i class="fs-5 bi bi-pc-display"></i>
                                <span class="fs-5 ms-2 d-none d-sm-inline">Tecnológicas</span>
                            </a>
                        </li>
                        <li class="nav-item py-2 py-sm-0 icon-link-hover">
                            <a class="nav-link text-white" href="/efectosSociales/">
                                <i class="fs-5 bi bi-people"></i>
                                <span class="fs-5 ms-2 d-none d-sm-inline text-white">Sociales</span>
                            </a>
                        </li>
                        <li class="nav-item py-2 py-sm-0">
                            <a class="nav-link text-white" href="/efectosAcademicos/">
                                <i class=" fs-5 bi bi-journal-text"></i>
                                <span class="fs-5 ms-2 d-none d-sm-inline"> Académicas</span>
                            </a>
                        </li>
                        <li class="nav-item py-2 py-sm-0">
                            <a class="nav-link text-white" href="/efectosEconomicos/">
                                <i class=" fs-5 bi bi-currency-dollar"></i>
                                <span class="fs-5 ms-2 d-none d-sm-inline"> Económicas</span>
                            </a>
                        </li>
                        <li class="nav-item py-2 py-sm-0">
                            <a class="nav-link text-white" href="/efectosSaludFisicaEmocional/">
                                <i class="fs-5 bi bi-hospital"></i>
                                <span class="fs-5 ms-2 d-none d-sm-inline"> Salud Física y Emocional</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="col-md-10 offset-md-2">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                    <div class="container-fluid">
                        <a class="position-absolute top-50 start-50 translate-middle text-white navbar-brand justify-content-center"
                            href="/">
                            <strong>Efectos de la Pandemia en la Educación Universitaria</strong>
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav ms-auto">
                                {% if request.user.is_authenticated %}
                                <a class="btn btn-outline-primary text-white mx-1" aria-current="page"
                                    href="/gestionEfectos/">Seguir gestionando efectos</a>
                                <a class="btn btn-outline-danger text-white mx-1" aria-current="page"
                                    href="/cerrarsesion/">Cerrar Sesión</a>
                                {% else %}
                                <a class="btn btn-outline-success text-white" aria-current="page"
                                    href="/gestionEfectos/">Iniciar Sesión</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </nav>

                <div class="container-fluid">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap bundle con Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-nIMlO6lm9wdE4dNd8SOLX6fMh+7T7TbvNVyDCjCzml5wIkgQmzNmCu4zI04KT/d6"
        crossorigin="anonymous"></script>
</body>

</html>