{% extends "./baseEfectos.html" %}

{% block title%} Efecto Economico {% endblock %}

{% block body%}
{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<h1 class="text-center py-4"><strong>Causas Económicas</strong></h1>

<div class="container  py-4">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            {% for ef in efectos%}

            <h1 class="fw-bold">{{ef.tema}}</h1>
            <p class="fs- lh-sm">{{ef.descripcion}}</p>
            <br>

            {%endfor%}

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 mx-auto">
            <div id="echartE" class="echartE bg-light py-4">

            </div>

        </div>

    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div id="chart" class="chart">

        </div>

    </div>
</div>
</div>

 

<!-- 
<div class="container bg-light">

    <div class="row my-4">
        <div class="col-sm-12 col-md-6 col-lg-6 col-lx-6 mx-auto">
            <div id="chart" class="chart" >

            </div>

        </div>
    </div>
</div>

-->

<!--apache echart-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.2/echarts.min.js"></script>

<script src="{% static 'js/graficoDesercionEconomica.js' %}"></script>

{% endblock %}

<!--TERMINADO--->