{% extends "./baseEfectos.html" %}

{% block title%} Efecto Social {% endblock %}

{% block body%}
{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="container  py-4">
    <h1 class="text-center py-4"><strong>Causas Sociales</strong></h1>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            {% for ef in efectos%}

            <h1 class="fw-bold">{{ef.tema}}</h1>
            <p class="fs-4 lh-sm">{{ef.descripcion}}</p>
            <br>

            {%endfor%}


        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 mx-auto">
            <div id="echartSo" class="echartSo bg-light py-4">

            </div>

        </div>

    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div id="chart" class="chart">

        </div>

    </div>
</div>
</div>
<!--apache echart-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.2/echarts.min.js"></script>

<script src="{% static 'js/graficoDesercionSocial.js' %}"></script>

{% endblock %}

<!--TERMINADO--->