{% extends "./baseEfectos.html" %}

{% block title%} Inicio {% endblock %}

{% block body%}
{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="position-absolute top-50 start-50">
        <h1 class="display-1 " > <strong>EPEUN</strong> </h1>
    
    </div>
    
 

<!-- 
<div class="container bg-light">

    <div class="row my-4">
        <div class="col-sm-12 col-md-6 col-lg-6 col-lx-6 mx-auto">
            <div id="chart" class="chart" >

            </div>

        </div>
    </div>
</div>

-->

<!--apache echart-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.2/echarts.min.js"></script>

<script src="{% static 'js/graficoDesercionEconomica.js' %}"></script>

{% endblock %}